# Node
node_modules/
frontend/node_modules/

# Java
backend/target/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment

# Frontend build
frontend/build/

config.bat
